@use '../01-settings/' as *;
@use '../02-tools/' as *;

.nav {
    
    &__border {
        font-weight: 600;
    font-size: 2rem;
    border-radius: 40px;
    border: 1px solid $color-green;
    @include medium {
        border: 1px solid $color-green;
        display: inline-block;
        width: 23%;
        background-color: rgba(0, 0, 0, 0.127);


    }

    @include small {
        display: inline-block;
        width: 40%;
        margin-top: 5px;
    }

}

&__inside {
    background-color: rgba(0, 0, 0, 0.127);
    color: white;
    padding: $grid-base;
    display: block;
    text-align: center;
    font-family: 'Radio+Canada+Big';
    border-radius: 40px;
    border: 1px solid $color-green;

    &:hover {
        background-color: $color-green;
        border-radius: 40px;
    }
}

}