@use '../01-settings/' as *;

*

table {
    font-size: 1.8rem;
    width: 80%;
    margin: 20px auto;
    border: 0px solid black;
    
}

/* Styl dla nagłówków tabeli */
th {
    background-color: $color-red;
    color: $color-white;
    text-align: center;
    padding: 10px;
    width: 50px;
    border: 0px solid $color-black;
    border-top-left-radius: 2px;
    border-top-right-radius: 40px;


}

/* Styl dla komórek danych */
td {
    color: $color-white;
    background-color: $color-black;
    padding: 8px;
    text-align: center;
}


