$color-red: rgba(245, 56, 9, 0.9);
$color-green: rgba(49, 255, 3, 0.877);
$color-grey: rgb(59, 58, 52);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0,0,0);

$font-base: 10px;

$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

$bp-md: 768px;
$bp-lg: 1240px;
$bp-xlg: 1640px;