@use '../01-settings/' as *;

.site-section {
    min-height: 70vh;
    padding-top: 3rem;

    &--bg-color {
        background-color: $color-grey;
    }
    &--bg-color2 {
        background-color: $color-green;
    }
}
